# Ignorar as pastas de dados
data/raw_images/
data/processed/

# Ignorar a pasta de modelos, vamos tratar dela de forma especial
models/

# Ignorar cache e arquivos temporários do Python
__pycache__/
*.pyc

